.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.inline {
  display: flex;
  gap: 0.5em;
}

.formGroup {
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.buttonRow {
  display: flex;
  gap: 0.5em;
}
