.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.inline {
  display: flex;
  gap: 0.5em;
}

.formGroup {
  display: flex;
  gap: 1em;
  align-items: flex-end;
}

.buttonRow {
  display: flex;
  gap: 0.5em;
}

.FormSelect,
.FormInputSelect {
  .ClearButton {
    margin-left: 0.5em;
  }
}

.FormInputSelect {
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.ClearButton {
  opacity: 0;
  transition: opacity 100ms;

  &.Show {
    opacity: 1;
  }
}
