.Button {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius-full);

  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);

  transition: color calc(var(--animation) * 4),
    background-color var(--animation), border-color calc(var(--animation) * 4);

  &:hover {
    color: var(--hover);
    border-color: var(--hover);
  }

  &.Active {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--accent-foreground);
  }
}

.IconButton {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius-full);

  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);

  transform: scale(1);

  transition: transform calc(var(--delay) * 2);

  svg {
    fill: var(--foreground);
    fill-opacity: 0;
    stroke: var(--foreground);

    transition: fill calc(var(--delay) * 2), fill-opacity calc(var(--delay) * 2),
      stroke calc(var(--delay) * 2);
  }

  &:hover {
    transform: scale(1.1);

    svg {
      /* fill-opacity: 1; */
    }
  }
}
