.BgCard {
  --card-border-radius: calc(var(--radius) * 2);

  --card-body-padding: calc(var(--spacing) * 4);

  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: var(--card-border-radius);

  &.MarginBottom {
    margin-bottom: 1em;
  }

  &.Muted {
    opacity: 0.5;
  }

  &.Opaque {
    background-color: #444852;
    opacity: 1;
  }

  .CardImage {
    aspect-ratio: 16 / 12;
    object-fit: cover;

    border-top-left-radius: var(--card-border-radius);
    border-top-left-radius: var(--card-border-radius);
  }

  .CardBody {
    padding: var(--card-body-padding);

    .CardActions {
      display: flex;
      justify-content: flex-end;
    }
  }

  .CardList {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    border: 1px solid var(--border);
    border-radius: calc(var(--card-border-radius) / 2);
    padding: 1em;
  }
}
