.Table {
  th,
  td {
    background-color: transparent;
  }

  tr.Disabled {
    td {
      color: var(--muted-foreground);
    }

    /* td:not(.TableActions) {
      opacity: 0.5;
    } */
  }
}

.TableActions {
  /* Requires inner div */
  & > div {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }
}

.GroupHeader td {
  background: var(--table-header-background);
  font-weight: 600;
  text-transform: uppercase;
  border-top: 2px solid var(--border);
}
