.Table {
  th,
  td {
    background-color: transparent;
  }
}

.TableActions {
  /* Requires inner div */
  & > div {
    display: flex;
    align-items: center;
    gap: 0.75em;
  }
}

.GroupHeader td {
  background: #fafafa;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 2px solid #ddd;
}
