.Heading {
  display: flex;
  gap: 0.25em;
  align-items: center;

  svg {
    margin-right: 0.5em;
  }
}

.EventsColumn {
  &:has(.Loading:only-child) {
    padding-top: 100px;
  }

  .Loading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    .Spinner {
      color: var(--accent);
    }
  }
}

.EventsFound {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.EventList {
  margin-bottom: calc(var(--spacing) * 20);
}

.PageTitle {
  margin-top: calc(var(--spacing) * 6);
}

.SubHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: calc(var(--spacing) * 2) 0;
}

.PageControls {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
}

@media (min-width: 992px) {
  .SubHeaderRow {
    margin-bottom: calc(var(--spacing) * 6);
  }
}
