:root {
  --primary: #646cff;
  --primary-focus: #535bf2;
}

#root {
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
/* 
body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:disabled {
    opacity: 0.5;
  }

  &:has(a) {
    padding: 0;
  }
}

.btn-outline-info {
    --bs-btn-color: #646cff;
    --bs-btn-border-color: #646cff;
    --bs-btn-hover-bg: #646cff;
    --bs-btn-hover-border-color: #646cff;
    --bs-btn-active-bg: #646cff;
    --bs-btn-active-border-color: #646cff;
    --bs-btn-disabled-color: #646cff;
    --bs-btn-disabled-border-color: #646cff;
}

.nav {
  --bs-nav-link-color: #646cff;
}

.nav-pills a.nav-link.active {
  background-color: #646cff;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #646cff;
}

button:hover:not(:disabled) {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html[data-bs-theme="dark"] {
  .rbc-toolbar button:not(.rbc-active) {
    color: var(--bs-btn-color);
  }
  .rbc-today {
    background: rgba(255, 255, 255, 0.25);
  }

  .rbc-event {
    /* background-color: rgba(0, 0, 0, 0.95); */
  }

  .rbc-off-range-bg {
    background: rgba(0, 0, 0, 0.25);
  }
}
