.ActionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.Clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.InputGrow {
  flex-grow: 1;
}

.Muted {
  color: var(--muted-foreground);
}

.ParameterRow {
  display: flex;
  gap: 1em;
}
