.Modal {
  --inset: calc(var(--spacing) * 6);

  touch-action: pan-y;
  overscroll-behavior-x: none;

  .NoWrapper {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .Wrapper {
    overflow: hidden;
    padding: 10px;
    margin: -10px;
  }

  .Header {
    padding: 0;

    position: relative;
    overflow: hidden;

    img {
      /* aspect-ratio: 16 / 12; */
      object-fit: cover;
      width: 100%;
    }

    .Uppercase {
      text-transform: uppercase;
    }

    .TopRight {
      position: absolute;
      top: var(--inset);
      right: var(--inset);
    }

    .BottomLeft {
      position: absolute;
      bottom: var(--inset);
      left: var(--inset);
    }
  }

  .Body {
    padding: var(--inset);

    h2 {
      margin-bottom: calc(var(--spacing) * 2);
    }

    h4 {
      margin-bottom: var(--spacing);
    }

    p {
      color: var(--muted-foreground);
      margin: 0;
    }

    .Content {
      margin-bottom: var(--inset);
    }

    .ModalRow {
      display: flex;
      gap: 1em;

      margin-bottom: 1em;

      .IconBox {
        padding: calc(var(--spacing) * 3);

        background-color: var(--card);
        border-radius: calc(var(--radius) * 2);
        color: var(--accent);
      }
    }

    .VenueLink {
      color: var(--muted-foreground);
      text-decoration: none;
    }
  }

  .Footer {
    justify-content: space-between;
  }
}

.ModalNavButton {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1060; /* CRITICAL: Must be > 1055 to sit over backdrop */
  transition: transform 0.2s opacity 0.2s;

  --padding: 8%;

  /* &:hover {
    opacity: 0.7;
    transform: translateY(-50%) scale(1.1);
  } */

  &.ModalPrev {
    left: var(--padding);
  }

  &.ModalNext {
    right: var(--padding);
  }
}
