.EventList {
  .DayLabel {
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--bs-body-bg);
  }

  .EventCard {
    cursor: pointer;
  }

  .CardContent {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .CardRow {
      display: flex;
      align-items: center;

      color: var(--muted-foreground);

      svg {
        margin-right: 0.5em;
      }
    }
  }

  .NoImage {
    --bg-opacity: 0.1;
    --img-opacity: 0.25;

    /* padding: 3em; */

    background-color: rgb(255, 255, 255, var(--bg-opacity));
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius);

    img {
      opacity: var(--img-opacity);
    }
  }

  .DayGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 1rem;
    place-items: stretch;
  }
}
