.EventList {
  .DayLabel {
    padding: 1em 0 0.25em;
    margin: 1em 0 0.5em;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--background);
  }

  .DayGroup {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    place-items: stretch;
  }
}

/* ≥ sm */
@media (min-width: 576px) {
  .EventList .DayGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ≥ md */
@media (min-width: 768px) {
  .EventList .DayGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ≥ lg */
@media (min-width: 992px) {
  .EventList .DayGroup {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ≥ xl */
@media (min-width: 1200px) {
  .EventList .DayGroup {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ≥ xxl */
@media (min-width: 1400px) {
  .EventList .DayGroup {
    grid-template-columns: repeat(4, 1fr);
  }
}
